.main {
  text-align: center;
}
.list {
  background-color: green;
}
.blur {
  opacity: 0.2;
}
.normal {
  opacity: 1;
}
.bgColor {
  background-color: red;
}
.container {
  display: flex;
}

.left__side {
  display: flex;
  width: 40%;
  height: 50px;
}
.right__side {
  display: flex;
  flex: 1;
}

.button {
  width: 100px;
  height: 50px;
}

.__main {
  display: flex;
}

.__left {
  flex: 1;
}

.__right {
  display: flex;
  flex: 1;
  justify-content: center;
}

.__todoInput {
  text-align: center;
}

.__inputField {
  width: 200px;
  height: 30px;
  margin: 20px 10px 0 0;
}

.__saveButton {
  width: 80px;
  height: 35px;
  margin: 20px 10px 0 0;
}

.__todoItem {
  margin-top: 50px;
}

.__specificItem {
  display: flex;
  background-color: #cf6332;
  border-style: dotted;
  border-width: 3px;
  margin-bottom: 10px;
}

.__specificText {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
}
.__deleteButton {
  width: 80px;
  height: 30px;
  margin-top: 30px;
  margin-right: 20px;
}
.__completedTask {
  text-align: center;
}
.__completedTaskText {
  text-decoration: line-through;
}
.__view_arr_list {
  display: flex;
  flex: 100;
}
.__leftside {
  flex: 30;
}
.__rightside {
  flex: 70;
}
.buttonName {
  width: 100px;
  padding: 20px;
  margin: 10px;
}

.add_button {
  width: 150px;
  padding: 10px;
  margin: 10px;
}
.remove_button {
  width: 150px;
  padding: 10px;
  margin: 10px;
}
.add_remove_arr_list {
  display: flex;
  flex: 100;
}
.add_arr_list {
  flex: 50;
}
.remove_arr_list {
  flex: 50;
}
